<div class="container mt-3">
  <%# <div class="d-flex justify-content-start align-item-center"> %>
  <p><%= link_to "Movie Lists >", root_path, class: "headline text-decoration-none" %></p>
  <h2>Create a new list</h2>
  <%# </div> %>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
