<div class="container mt-3">
<div class="col-12 col-lg-6">
  <h1><%= @list.name %></h1>


    <div class="card-category item-align-center">
      <ul>
        <% @list.bookmarks.each do |bookmark| %>
          <%= image_tag bookmark.movie.poster_url, width: 300 %>
          <li><%= bookmark.movie.title %></li>
          <li>Comment: <%= bookmark.comment %></li>
          <li>Rating: <%= bookmark.movie.rating.to_f %></li>
          <%# link_to list_path(@list), class: 'card-remove-link', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <%# <i class="fa-solid fa-trash-can"></i> %>
        <% end %>
      </ul>

    </div>
</div>

<p><%= link_to 'Add to Bookmark', new_list_bookmark_path(@list) %></p>

<p><%= link_to 'Back to Lists', lists_path %></p>
</div>
